.category {
  &.no-left-sidebar {
    @include breakpoint("medium") {
      grid-template-columns: 0 100%;
    }

    @include breakpoint("large") {
      grid-template-columns: 0 calc(100% - (100% / 100 * 26)) calc(
          100% / 100 * 26
        );
    }

    @include breakpoint("xlarge") {
      grid-template-columns: 0 calc(100% - 328px) 328px;
    }
  }
}
.heading-category-wrapper.has-banner {
  display: block;
  width: 100%;
  position: relative;
  .category__image-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .category__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 3.5%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
  }
  & + .category__description {
    margin-top: 50px;
  }
}
.subCategories {
  margin: 30px 0 50px;
  .subCategory-image {
    padding: 0 30px;
    a {
      display: block;
      padding-bottom: 100%;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
      }
    }
  }
  .subCategory-name {
    a {
      display: block;
      letter-spacing: 0px;
      color: #2b2b2b;
      text-align: center;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      font-size: 20px;
      line-height: 24px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 1260px) and (min-width: 768px) {
  .subCategories .subCategory {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .heading-category-wrapper .category__image-container {
    background: none !important;
  }
}
@media (max-width: 767px) {
  .heading-category-wrapper.has-banner {
    .category__image-container {
      height: 86px;
      width: 100%;
    }
    img {
      display: none;
    }
    .category__title {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      color: #2b2b2b;
      font-size: 30px;
      line-height: 34px;
      margin-top: 27px;
    }
    & + .category__description {
      margin-top: 12px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .subCategories {
    margin: 32px 0;
    .subCategory {
      width: 50%;
      .subCategory-image {
        padding: 0;
      }
      .subCategory-name a {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 1024px) {
  .subCategories {
    .subCategory {
      width: calc(100% / 6);
    }
  }
}
